:root {
    /* ------------- COLORS ----------------- */
    /* Primary Colors */
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    /* Neutral Colors */
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    /* ------------- FONTS ----------------- */
    --principal-font: 'Public Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.8rem;
}
html {
    font-size: 62.5%;
    font-family: var(--principal-font);
}
body {
    background-color: var(--light-grayish-blue);
}

/* HEADER */

.header {
    display: flex;
    align-items: center;
    background-color: var(--white);
    height: 14vh;
    position: relative;
    z-index: 1;
}
.header--img {
    width: 175px;
    height: 25px;
    padding-left: 2rem;
}
.header--links {
    height: 45vh;
    width: 90%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 18vh;
    right: 0;
    left: 5%;
    bottom: 0;
    transform: translateY(-150%);
    transition: transform 0.5s ease-in;
    background-color: var(--light-grayish-blue);
}
.header--navbar li {
    list-style: none;
}
.header--navbar a {
    text-decoration: none;
    /* color: rgb(14, 14, 14); */
    color: var(--dark-blue);
}

.burger {
    position: absolute;
    right: 0;
    margin-right: 2rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.burger div {
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: var(--dark-blue);
    transition: all 0.5s ease;
}

.nav-active {
    display: flex;
    transform: translateY(0);
}

@keyframes navbarlinksFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-4px,-6px);
}

/* ------------- HERO -------------- */

.hero {
    height: 85vh;
}

.hero--img {
    background-image: url(../assets/images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: bottom;

    
    display: flex;
    justify-content: center;

    box-sizing: border-box;
}

.hero--img img {
    width: 90vw;
    transform: translateY(-110px);

    /* position: relative; */
    object-fit: cover;
}

.hero--description {
    padding: 2rem;
    position: relative;
    top: -110px;
    z-index: 1;

    background-color: var(--light-grayish-blue);
    text-align: center;
}

.hero--description h1 {
    font-size: 3.2rem;
    font-weight: 400;
    color: var(--dark-blue);
    margin-bottom: 1rem;
}

.hero--description p {
    font-size: 1.5rem;
    color: var(--grayish-blue);
    padding-bottom: 3rem;
}

.button {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 3rem;
    /* background-color: var(--lime-green); */
    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(45,194,170,1) 65%, rgba(43,183,218,1) 100%);
    color: var(--white);
    padding: 1.5rem 3rem;
}